.menu {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #725217;
    z-index: 3;
    width: 400px;
    /* height: 860px; */
    margin-bottom: 10px;
    color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
}
.menu__flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-unable {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #725217;
    z-index: 3;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    transition: all 0.5s;
}

.menu__button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .menu__button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .menu__button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .menu__button:hover span {
    padding-right: 25px;
  }
  
  .menu__button:hover span:after {
    opacity: 1;
    right: 0;
  }